<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Easy</title>
<th:block th:include="common/head::globals" />
<th:block th:include="common/head::jquery" />
<th:block th:include="common/head::easyui" />
<th:block th:include="common/head::ztree" />
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'north'" style="height: 50px"></div>
		<div data-options="region:'south',split:false" style="height: 50px;"></div>
		<div data-options="region:'east',split:true" title="East"
			style="width: 180px;"></div>
		<div data-options="region:'west',split:true" title="West"
			style="width: 200px;">
			<ul id="treeDemo" class="ztree"></ul>	
		</div>
		<div data-options="region:'center',iconCls:'icon-ok'" title="Center"
			style="padding: 5px">
			<div class="easyui-layout" data-options="fit:true">
				<div data-options="region:'north',split:true" style="height: 50px"></div>
				<div data-options="region:'west',split:true" style="width: 100px"></div>
				<div data-options="region:'center'"></div>
			</div>
		</div>
	</div>
</body>
</html>